.navbar-brand{
	color: blue;
}

.twitter-wrap{
	height: 36em;
	overflow: auto;
}

.jumbotron{
	height: 24em;

	background-image: url("../images/IMG_20170211_131402.jpg");
	background-position: center;
	background-repeat: no-repeat;

	h1,h2,h3,h4,h5,h6,p{
		color: white;
	}
}